*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
html body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(107, 73, 61);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 10px;
    position:inherit;
    cursor: pointer;
}
.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item i{
    color: white;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease 0.4s;
}